accelerate>=0.16.0
torchvision
transformers==4.40.0
datasets
ftfy
tensorboard
Jinja2
peft==0.7.0
huggingface_hub==0.25.2
timm
ipdb
imageio
opencv-python
nuscenes-devkit
xformers

waymo-open-dataset-tf-2-12-0
pandas
matplotlib
imageio==2.27.0
imageio-ffmpeg==0.5.1